* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
}

.container p {
    text-align: center;
}

header,
.box {
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    font-family: 'Courier New', monospace;
}

.box h2,
header h1 {
    text-align: center;
    color: #7cfc00;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.box li,
.box p,
header {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #00ff7f;
}

.box li strong {
    color: #32cd32;
}

.doswiadczenie {
    margin-top: 50px;
}

footer {
    text-align: center;
    color: #00ff7f;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    color: #00e5ff;
    text-decoration: underline;
}

.certGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.certItem {
    border: 1px solid #333333;
    padding: 12px;
    border-radius: 6px;
    transition: 0.3s;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #00ff7f;
}

.certItem:hover {
    border-color: #00ff7f;
    background: #2a2a2a;
    transform: translateY(-2px);
}

.certItem span {
    margin-bottom: 8px;
    display: block;
}

.certLinkEN,
.certLinkPL {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #00ff7f;
    padding: 4px 8px;
    display: inline-block;
    width: fit-content;
}

.certLinkSingle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #00ff7f;
    padding: 4px 8px;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.certLinks {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
}
